<div class="page-header">
  <h1><%= agreement_name %></h1>
</div>

<p class="lead">
  Thank you for your interest in Atlassian Pty Ltd's and its affiliates'
  ("Atlassian") open source projects. In order to clarify the intellectual
  property license granted with Contributions from any person or entity,
  Atlassian must have a Contributor License Agreement on file that has been
  signed by each Contributor.
</p>

<p>
  To get started, please sign in with your GitHub credentials and fill out the
  form. We will then send you the agreement to sign electronically. This should
  only take a few minutes.
</p>

<p>
  <a href="/form" class="btn btn-lg btn-default"><img src="/img/github.png" /> Sign in with GitHub</a>
</p>
